<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Aran's Profile</title>
</head>
<body>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <h1 style="font-family: 'Bebas Neue', cursive;text-align: center;">Hello!</h1>
    <img src="{% static 'profpict.jpg' %}" alt="profile picture" style="width:250px; height:250px; display: block; margin-left: auto; margin-right: auto">
    <h2 style="font-family: 'Bebas Neue', cursive; text-align: center; font-size: 40px;"><span style="color:darkcyan;">Aran</span>sandya Pangesthika Arrumy</h2>
    <p style="font-family: 'Montserrat', sans-serif; text-align: center;">Information Systems Student at Fakultas Ilmu Komputer Universitas Indonesia</p>
    <p style="font-family: 'Montserrat', sans-serif; text-align: center;">Student Number: 1906353750 | Class of 2019 | Hobby: Listening to music</p>
    <br>
    <h3 style="font-family: 'Bebas Neue', cursive; text-align: center;font-size: 30px;">Get to know me better!</h3>
    <p style="font-family: 'Montserrat', sans-serif; padding-right: 400px; padding-left: 400px;">Hello, there! My name is Aransandya Pangesthika Arrumy. You can call me <span style="color: darkcyan;"><b>Aran</b></span>.
        I am an 18-years-old-student majoring in Information Systems at Fasilkom UI.
        I was born in Jakarta on October 5th. My hobby is listening to music.
        I love listening to a Korean Band called DAY6.
        I also love making new friends as I like to interact with people!
    </p>
    <br>
    <button style="border: none; display: block; margin-left: auto; margin-right: auto; color: black; background-color: darkcyan; font-size: 18px; text-align: center; font-family: 'Bebas Neue', cursive; padding: 15px 32px;"><a href="{% url 'storyprofile:profile' %}#">click here to go to another website page of mine</a></button>
    <h3 style="font-family: 'Bebas Neue', cursive; text-align: center;font-size: 30px;">Education</h3>
    <table style= "margin-left:auto; margin-right: auto;">
        <tr>
            <th style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; width:200px">Year</th>
            <th style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; width:200px">Stage</th>
            <th style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; width:200px">Institution</th>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; text-align: center;">2004 - 2007</td>
            <td style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; text-align: center;">Kindergarten</td>
            <td style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; text-align: center;">TK Islam Al-Ikhsan</td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; text-align: center;">2007 - 2013</td>
            <td style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; text-align: center;">Elementary School</td>
            <td style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; text-align: center;">SD Negeri Cipinang Melayu 03 Pagi</td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; text-align: center;">2013 - 2016</td>
            <td style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; text-align: center;">Junior High School</td>
            <td style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; text-align: center;">SMP Negeri 115 Jakarta</td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; text-align: center;">2016 - 2019</td>
            <td style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; text-align: center;">Senior High School</td>
            <td style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; text-align: center;">SMA Negeri 81 Jakarta</td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; text-align: center;">2019 - Present</td>
            <td style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; text-align: center;">College</td>
            <td style="border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif; text-align: center;">Universitas Indonesia</td>
        </tr>
    </table>
    <br>
    <h3 style="font-family: 'Bebas Neue', cursive; text-align: center;font-size: 30px;">Let's Get Connected!</h3>
    <center>
        <a href="https://www.instagram.com/aransandya"><img src="{% static 'ig.png' %}" style="margin-left: auto; margin-right: auto; width:60px; height:60px"></a>
        <a href="https://www.linkedin.com/in/aransandya-pangesthika-arrumy-5317051a2/?originalSubdomain=id"><img src="{% static 'linkedin.png' %}" style="margin-left: auto; margin-right: auto; width:60px; height:60px"></a>
    </center>
</body>
</html>
