{% extends 'base.html' %} {% load static %}

{% block main %}

<div style="margin-top: 10vh;">
    <h1 style="font-family: 'DM Serif Display', serif;">Daftarkan namamu di kegiatan ini</h1>
</div>
<div>
    <form method="POST">
        {% csrf_token %}
        <table style="text-align: justify; font-family: 'Poppins', sans-serif;">
            {{form_orang.as_table}}
        </table>
        <br>
        <button type="submit" class="btn btn-dark" style="font-family: 'DM Serif Display', serif;">Save</button>
    </form>
</div>

{% endblock main %}