{% extends 'base.html' %} {% load static %}


{% block main %}
<div class="jumbotron">
    <h1 class="display-4" style="font-family: 'DM Serif Display', serif;">Activities</h1>
    <p class="lead" style="font-family: 'Poppins', sans-serif;">Hello! This is where you can set your activities and register yourself to join the activity you're insterested in
    </p>
    <hr class="my-4">
    <p style="font-family: 'Poppins', sans-serif;">Choose "Create New Activity" to make new activity and choose "See Activities" to see list of activities and to register yourself</p>
    <a class="btn btn-dark btn-lg" href="{% url 'story6:daftarAktivitas' %}" role="button" style="font-family: 'DM Serif Display', serif;">Create New Activity</a>
    <a class="btn btn-dark btn-lg" href="{% url 'story6:listAktivitas' %}" role="button" style="font-family: 'DM Serif Display', serif;">See Activities</a>
</div>
{% endblock main %}