{% extends 'base.html' %} {% load static %}

{% block main %}
<div style="margin-top: 10vh;">
    <h1 style="font-family: 'DM Serif Display', serif; text-align: center;">Daftar Aktivitas</h1>
</div>

<div class="row w-100 justify-content-center">
    {% for aktivitas in aktivitass %}
    <div class="col-4 m-4 p-4 rounded border">
        <ul class="list-group">
        <li class="list-group-item list-group-item-dark" style="font-family: 'DM Serif Display', serif;">{{aktivitas.nama_aktivitas}}</li>
        {% for orang in orangs %}
        {% if orang.aktivitas == aktivitas %}
        <li class="list-group-item">
            <div style="font-family: 'Poppins', sans-serif;" class="">
                {{orang.nama_orang}}
                <a href="{% url 'story6:deleteOrang' orang.id %}" class="btn btn-danger float-right" style="font-family: 'DM Serif Display', serif;">Delete</a>
            </div>
        </li>
        {% endif %}
        {% endfor %}
        </ul>
        <div class="row mb-3 justify-content-center mt-5">
            <a href="{% url 'story6:daftarOrang' aktivitas.id %}" class="btn btn-dark" style="font-family: 'DM Serif Display', serif;">Register</a>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row mb-3 justify-content-center">
    <div class="col text-center">
        <a href="{% url 'story6:indexAktivitas' %}" class="btn btn-dark" style="font-family: 'DM Serif Display', serif;">Kembali</a>
    </div>
</div>

{% endblock main %}