{% extends 'base.html' %}

{% block main %}
<style>
    .text-th{
        font-family: 'DM Serif Display', serif;
    }
    .text-td{
        font-family: 'Poppins', sans-serif;
    }
</style>

<div style="margin-top: 80px;">
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="text-th">Mata Kuliah</th>
            <th scope="col" class="text-th">Dosen</th>
            <th scope="col" class="text-th">SKS</th>
            <th scope="col" class="text-th">Deskripsi</th>
            <th scope="col" class="text-th">Semester</th>
            <th scope="col" class="text-th">Ruang</th>
            <th scope="col" class="text-th">Delete?</th>
        </tr>
        </thead>
        <tbody>
            {% for matkul in matkuls %}
                <tr>
                    <td class="text-td"><a href="{% url 'story5:detail' matkul.id %}">{{matkul.mata_kuliah}}</a></td>
                    <td class="text-td">{{matkul.dosen}}</td>
                    <td class="text-td">{{matkul.sks}}</td>
                    <td class="text-td">{{matkul.deskripsi}}</td>
                    <td class="text-td">{{matkul.semester}}</td>
                    <td class="text-td">{{matkul.ruang}}</td>
                    <td>
                        <a href="{% url 'story5:delete' matkul.id %}" class="btn btn-danger" style="font-family: 'DM Serif Display', serif;">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row mb-3 justify-content-center">
    <div class="col text-center">
        <a href="{% url 'story5:isi' %}" class="btn btn-dark" style="font-family: 'DM Serif Display', serif;">Tambah Jadwal</a>
    </div>
</div>
{% endblock main %}