{% extends 'base.html' %}
{% block main %}
<style>
    .text-th{
        font-family: 'DM Serif Display', serif;
    }
    .text-td{
        font-family: 'Poppins', sans-serif;
    }
</style>
<div class="col text-center" style="margin-top: 200px;">
    <table style="width: 100%; text-align: justify;">
        <tr>
            <th class="text-th">Mata Kuliah:</th>
            <td class="text-td">{{matkul.mata_kuliah}}</td>
        </tr>
        <tr>
            <th class="text-th">Dosen:</th>
            <td class="text-td">{{matkul.dosen}}</td>
        </tr>
        <tr>
            <th class="text-th">SKS:</th>
            <td class="text-td">{{matkul.sks}}</td>
        </tr>
        <tr>
            <th class="text-th">Deskripsi:</th>
            <td class="text-td">{{matkul.deskripsi}}</td>
        </tr>
        <tr>
            <th class="text-th">Semester:</th>
            <td class="text-td">{{matkul.ruang}}</td>
        </tr>
        <tr>
            <th class="text-th">Ruang:</th>
            <td class="text-td">{{matkul.ruang}}</td>
        </tr>
    </table>
</div>
<br>
<div class="row mb-3 justify-content-center">
    <div class="col text-center">
        <a href="{% url 'story5:daftar' %}" class="btn btn-dark" style="font-family: 'DM Serif Display', serif;">Kembali</a>
    </div>
</div>

{% endblock main %}