{% extends 'base.html' %} {% load static %}


{% block main %}
<div class="jumbotron">
    <h1 class="display-4" style="font-family: 'DM Serif Display', serif;">Schedule</h1>
    <p class="lead" style="font-family: 'Poppins', sans-serif;">Hello! This is where you can make a list of your schedules
    </p>
    <hr class="my-4">
    <p style="font-family: 'Poppins', sans-serif;">Choose "Create Schedule" to make new schedule and choose "See Schedule" to see list of schedules</p>
    <a class="btn btn-dark btn-lg" href="{% url 'story5:isi' %}" role="button" style="font-family: 'DM Serif Display', serif;">Create Schedule</a>
    <a class="btn btn-dark btn-lg" href="{% url 'story5:daftar' %}" role="button" style="font-family: 'DM Serif Display', serif;">See Schedule</a>
</div>
{% endblock main %}