{% extends 'base.html' %} {% load static %}
{% block main %}
<br>
<br>
<br>
<div class="gallery">
    <p class="p1-gal">my gallery</p>
    <p class="p2-gal">documentations of aran's everyday life</p>
</div>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="{% static 'car1.jpg' %}" class="d-block w-100" alt="pict">
        <div class="carousel-caption d-none d-md-block">
        <h5 style="font-family: 'DM Serif Display', serif; color: black;">gallery</h5>
        <p style="font-family: 'DM Serif Display', serif; color: black;">documentations of aran's everyday life.</p>
        </div>
        </div>
        <div class="carousel-item">
        <img src="{% static 'car2.jpg' %}" class="d-block w-100" alt="pict">
        <div class="carousel-caption d-none d-md-block">
            <h5 style="font-family: 'DM Serif Display', serif; color: black;">gallery</h5>
            <p style="font-family: 'DM Serif Display', serif; color: black;">documentations of aran's everyday life.</p>
        </div>
        </div>
        <div class="carousel-item">
        <img src="{% static 'car3.jpg' %}" class="d-block w-100" alt="pict">
        <div class="carousel-caption d-none d-md-block">
            <h5 style="font-family: 'DM Serif Display', serif; color: black;">gallery</h5>
            <p style="font-family: 'DM Serif Display', serif; color: black;">documentations of aran's everyday life.</p>
        </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br>
<br>
<div class="text-center pict-1">
    <figure class="figure">
        <img src="{% static 'psdm.jpg' %}" class="figure-img img-fluid rounded" alt="psdm" style="width: 700px; height: 500px;">
        <figcaption class="figure-caption capt-gal">Human Research Development Bureau of BEM Fasilkom UI 2020.</figcaption>
    </figure>
</div>
<br>
<div class="text-center pict-1">
    <figure class="figure">
        <img src="{% static 'finance.jpg' %}" class="figure-img img-fluid rounded" alt="finance" style="width: 700px; height: 500px;">
        <figcaption class="figure-caption capt-gal">Finance Team of COMPFEST12.</figcaption>
    </figure>
</div>
<br>
<div class="text-center pict-1">
    <figure class="figure">
        <img src="{% static 'wisgan.jpg' %}" class="figure-img img-fluid rounded" alt="wisgan" style="width: 700px; height: 500px;">
        <figcaption class="figure-caption capt-gal">Me with my friends as committees at Wisuda Ganjil 2020.</figcaption>
    </figure>
</div>
{% endblock main %}