{% extends 'base.html' %} {% load static %}
{% block main %}
<div class="home">
    <div class="square">
        <img src="{% static 'profpict.png' %}" class="image">
        <p class="p1-home"><span style="color: #734631">aran</span>sandya pangesthika arrumy</p>
        <p class="p2-home">a lifelong learner, full-time dreamer</p>
    </div>
</div>

<div class="about" id="about">
    <p class="p1-about">get to know me better</p>
    <p class="p2-about">Hello, there! My name is Aransandya Pangesthika Arrumy.
        <br>To make it easier, you can call me Aran.
        <br>I am a highly motivated student majoring in Information Systems
        <br>at Faculty of Computer Science, Universitas Indonesia. 
        <br>Constantly working for the better version of myself and seizing every opportunity 
        <br>to learn and widen my knowledge while enjoying every process of it. </p>
    <br>
    <p class="p3-about">hobbies</p>
    <p class="p4-about">Listening to music
        <br>Watching movies</p>
</div>

<div class="skill" id="skill">
    <p class="p1-skill">skills</p>
    <img src="{% static 'no1.png' %}" class="number">
    <p class="p2-skill">Java | Python | HTML | CSS</p>
    <br>
    <img src="{% static 'no2.png' %}" class="number">
    <p class="p2-skill">Marketing</p>
    <br>
    <img src="{% static 'no3.png' %}" class="number">
    <p class="p2-skill">Organizational skill</p>
</div>

<div class="edu" id="edu">
    <p class="p-edu">education</p>
    <table class="center-edu">
        <tr>
            <th class="th">year</th>
            <th class="th">institution</th>
        </tr>
        <tr>
            <td class="td">2019 - present</td>
            <td class="td">Universitas Indonesia</td>
        </tr>
        <tr>
            <td class="td">2016 - 2019</td>
            <td class="td">81 Jakarta Senior High School</td>
        </tr>
        <tr>
            <td class="td">2013 - 2016</td>
            <td class="td">115 Jakarta Junior High School</td>
        </tr>
        <tr>
            <td class="td">2007 - 2013</td>
            <td class="td">03 Cipinang Melayu Elementary School</td>
        </tr>
        <tr>
            <td class="td">2004 - 2007</td>
            <td class="td">Al Ikhsan Kindergarten</td>
        </tr>
    </table>
</div>
<div class="experience" id="experience">
    <p class="p1-exp">experiences</p>
    <p class="p2-exp">Staff of Human Research and Development Bureau at BEM Fasilkom UI</p>
    <p class="p3-exp">February 2020 - Now</p>
    <p class="p4-exp">I maintain internal relations of BEM Fasilkom UI 2020 along with my team</p>
    <br>
    <p class="p2-exp">Staff of Fundraising at COMPFEST12</p>
    <p class="p3-exp">February 2020 - Now</p>
    <p class="p4-exp">I raise funds for the running of COMPFEST 12</p>
    <br>
    <p class="p2-exp">Staff of Public Relation at Syukuran dan Pelepasan <br> Wisudawan Fasilkom UI 2020 Semester Ganjil</p>
    <p class="p3-exp">December 2019 - January 2020</p>
    <p class="p4-exp">I became a contact person between the committee <br> and the graduates and other parties</p>
    <br>
    <p class="p-exp">click here to see my full resume</p>
    <div class="col-md-113 text-center">
        <a target="_blank" href="https://drive.google.com/file/d/1isFGWCPHeWM-PW74un4Eszv3jt1F5EYa/view?usp=sharing" class="btn btn-dark" role="button" style="font-family: 'DM Serif Display', serif;">my resume</a>
    </div>
</div>
<div class="contact" id="contact">
    <p class="p-con">let's get connected</p>
    <center>
        <p class="p1-con">LinkedIn</p>
        <a target="_blank" href="https://id.linkedin.com/in/aransandya-pangesthika-arrumy-5317051a2"><img src="{% static 'linkedin 1.png' %}" class="logo"></a>
        <p class="p1-con">instagram</p>
        <a target="_blank" href="https://www.instagram.com/aransandya"><img src="{% static 'instagram 1.png' %}" class="logo"></a>
        <p class="p1-con">email</p>
        <a href="mailto:apangesthika@gmail.com"><img src="{% static 'gmail 1.png' %}" class="logo"></a>
    </center>
</div>
{% endblock main %}