{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>✰ | Aransandya</title>
        <link rel="icon" href="{% static 'logo.png' %}" type="image/icon type">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="{% url 'storyprofile:profile' %}#"><img src="{% static 'logo.png' %}" alt="logo" style="width: 40px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="{% url 'storyprofile:profile' %}#about" style="font-family: 'Poppins', sans-serif">about</a>
                <a class="nav-item nav-link" href="{% url 'storyprofile:profile' %}#skill" style="font-family: 'Poppins', sans-serif">skill</a>
                <a class="nav-item nav-link" href="{% url 'storyprofile:profile' %}#edu" style="font-family: 'Poppins', sans-serif">education</a>
                <a class="nav-item nav-link" href="{% url 'storyprofile:profile' %}#experience " style="font-family: 'Poppins', sans-serif">experience</a>
                <a class="nav-item nav-link" href="{% url 'storyprofile:profile' %}#contact" style="font-family: 'Poppins', sans-serif">contact</a>
                <a class="nav-item nav-link" href="{% url 'storyprofile:gallery' %}" style="font-family: 'Poppins', sans-serif">gallery</a>
                <a class="nav-item nav-link" href="{% url 'story-1:index' %}" style="font-family: 'Poppins', sans-serif">story 1</a>
                <a class="nav-item nav-link" href="{% url 'story5:matkul' %}" style="font-family: 'Poppins', sans-serif">schedule</a>
                <a class="nav-item nav-link" href="{% url 'story6:indexAktivitas' %}" style="font-family: 'Poppins', sans-serif">activities</a>
            </div>
            </div>
        </nav>
        {% block main %} {% endblock main %}
    </body>
</html>
